* {
	margin: 0;
	padding: 0;
	font-family: 'NTR', sans-serif;
}

nav {
	width: auto;
	height: 80px;
	background: #F5F5F5;
	border: 5px solid #4AAFD4;
	display: flex;
}

nav a {
	color: inherit;
	text-decoration: none;
}

nav div:nth-child(1) {
	width: 20%;
	height: 100%;
	margin: auto;
}

nav h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	color: #DE3C31;
	text-align: center;
}

nav div:nth-child(2) {
	width: 70%;
	height: 100%;
	margin: auto;

	display: flex;
	align-items: center;
}

nav ul {
	width: 100%;
	display: flex;
	justify-content: end;
}

nav li {
	list-style-type: none;
	margin: 0 30px;
	margin-top: 10px;
	font-size: 24px;
	text-align: center;
	color: #DE3C31;
	transition: 0.3s ease-in-out;
}

nav li:hover {
	text-decoration: underline;
}

nav li button {
	margin-top: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 160px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	color: #DE3C31;
	border-radius: 8px;
	border: 3px solid #DE3C31;
	cursor: pointer;
	transition: 0.2s;
}

nav li button:hover {
	background-color: #DE3C31;
	color: white;
	border: 3px solid #DE3C31;
}

nav li .btn-focus {
	background-color: #DE3C31;
	color: white;
	border: 3px solid #DE3C31;
}

@media screen and (max-width: 1510px) {
	nav div:nth-child(2) li:nth-child(1) {
		display: none;
	}
}

@media screen and (max-width: 1220px) {
	nav div:nth-child(2) li:nth-child(2) {
		display: none;
	}
}

@media screen and (max-width: 1120px) {
	nav div:nth-child(2) li:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 780px) {
	nav div:nth-child(2) li:nth-child(4) {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	nav div:nth-child(2) li:nth-child(5) {
		display: none;
	}
	nav div:nth-child(2) li:nth-child(6) {
		display: none;
	}
}