html::-webkit-scrollbar {
  width: 18px;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

html::-webkit-scrollbar-thumb {
  background: #4AAFD4;
  border: 4px solid white;
  border-radius: 12px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #555; 
}