#bg {
	width: auto;
	height: 100vh;
	background-size: cover;
	background-image: url("../images/bg1.png");
}

#section-2 {
	height: 100vh;
	background-size: cover;
	background-color: rgba(107, 204, 238, 0.25);
	display: grid;
}

#section-2 .head {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 50%;
}

#section-2 div h1 {
	font-size: 42px;
	text-align: center;
	color: #27688B;
	height: 50px;
	margin-top: 20px;
}

#section-2 hr {
	border-top: 6px solid #27688B;
	width: 80%;
	margin: auto;
}

#section-2 .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: auto;
	height: 50%;
}

#section-2 figure {
	cursor: pointer;
	margin: auto;
	width: 370px;
	padding: 5px;
	height: auto;
	background: #FFFFFF;
	border-radius: 30px 30px 30px 0px;
	transition: 0.2s ease-in-out;
}

#section-2 figure:hover {
	filter: drop-shadow(3px 9px 17px rgba(0, 0, 100, 0.12));
}

#section-2 figure .img-con {
	width: 100%;
	height: auto;
}

#section-2 figure img {
	display: flex;
	width: 100%;
	height: 250px;
	border-radius: 30px 30px 30px 0px;
}

#section-2 figure h1 {
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #DE3C31;
	line-height: 38px;
	font-size: 28px;
	text-transform: capitalize;

	color: #DE3C31;
}

#section-2 button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FAFAFA;
	border: 3px solid #DE3C31;
	border-radius: 10px;
	width: 60%;
	height: 40px;
	margin: 20px auto;

	font-size: 22px;
	line-height: 76px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: capitalize;

	color: #161616;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

#section-2 button:hover {
	background-color: #DE3C31;
	color: white;
}

@media screen and (max-width: 1280px) {
	#section-2 .container {
		grid-template-columns: repeat(2, 1fr);
	}

	#section-2 figure {
		margin-top: 30px;
	}

	#bg {
		height: 150vh;
	}

	#section-2 {
		height: 150vh;
	}
}

@media screen and (max-width: 785px) {
	#section-2 .head {
		height: 70%;
	}

	#section-2 .container {
		grid-template-columns: repeat(1, 1fr);
	}

	#bg {
		height: 180vh;
	}

	#section-2 {
		height: 180vh;
	}
}